* {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    color: greenyellow;
    text-align: center;
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: white 2px solid;
}

td {
    height: 25px;
    width: 25px;
    background-color: black;
    border: white 1px solid;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_panel {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}